<suite name="TestSuite">
    <test name="AutoQA">
        <classes>
            <class name="ukr.tests.SomeTest" />
            <!--<methods>-->
                <!--<include name="loginTest"/>-->
                <!--<include name="mailTest"/>-->
            <!--</methods>-->
        </classes>
    </test>
</suite>
